<html>
<title>Prévision Groupe de la question</title>
        <link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<div class="container">
<h2>Prévision du Groupe de la question</h2>

<div class="form-group">
      <label for="titre_StackOverFlow">Titre: {{form['titre_StackOverFlow']}}</label>
      
<br>
<br>
 
<label for="question_StackOverFlow">Question:{{form['question_StackOverFlow']}}</label>

<br>
<br>
<label for="Tag(s)">Modélisation supervisée: {{Tags}}</label>

<br>
<br>

<label for="Mots clefs du tag">Modélisation non supervisée: {{mots_clefs}}</label>


</div>
</body>

</html>

